<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Post Form</title>
  </head>
  <body>
    <h1>Input your POST here!</h1>
    <form action="/posts" method="post">
    <br><lable for="name"> Post name: <input type="text" id="name" name= "name"></lable>
    <br><lable for="content"> Post : <input type="text" id="post" name= "content"></lable>
      <input type="submit" id="submit">
    </form>


  </body>
</html>
