<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Show</title>
  </head>
  <body>
    <h1>Here is your Post!</h1>
    <h2>Post Name: <%= @post.name %></h2><br>
    <p>Content: <%= @post.content %></p><br>

    <form method="post" action="/posts/<%=@post.id%>/delete">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  </body>
</html>
